<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <style>

    </style>
</head>
<body>
    <header>
        Mindennapos testnevelésre való jelentkezés
    </header>

    <main>
        <form action="">
            <div class ="grid-container">
                <div class="grid-label">Felhasználónév</div>
                <div class="grid-item">tanulo</div>
                <div class="grid-label">Jelszó</div>
                <div class="grid-item">szupertitkos</div>
                <div class="grid-label">Választott foglalkozás</div>
                <div class="grid-item">kosárlabda</div>
                <button>Küldés</button>
            </div>
        </form>
    </main>

    <footer>
        Ha bármi gond adódik: <a href ="19darklight@gmail.com">19darklight@gmail.com</a>
    </footer>
</body>
</html>